.card, form{
  margin-top: 1rem;
}

.state-alivrer{
  color:rgb(241, 15, 15);
}

.state-livree{
  color:green;
}

.state-encours{
  color:rgb(63, 63, 165);
}

body .navbar-light .navbar-nav .nav-link.active {
  color : rgb(55, 12, 212);
}
